<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.ricardofagodoy" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ball Game</name>
    <description>
        Ball Game for Android
    </description>
    <author email="ricardofagodoy@gmail.com" href="https://ricardofagodoy.github.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <icon src="res/icon.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~7.1.1" />
</widget>
